.about-section{
    background-color: var(--secondary-bg-color);
}
.about-section h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.about-section .star-icon::after{
    content: '';
    background-color: #fff;
    width: 5rem;
    height: .25rem;
    position: absolute;
    top: 50%;
    margin-left: 10px;
}
.about-section .star-icon::before{
    content: '';
    background-color: #fff;
    width: 5rem;
    height: .25rem;
    position: absolute;
    top: 50%;
    right: 1.4375rem
}

@media screen and (max-width: 575px) {
   .about-section h2{
    font-size: 1.5rem;
   }

}