
.contact-section h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-bg-color);
}
.contact-section i {
    color: var(--main-bg-color);
}
.contact-section .star-icon::after{
    content: '';
    background-color: var(--main-bg-color);
    width: 5rem;
    height: .25rem;
    position: absolute;
    top: 50%;
    margin-left: 10px;
}
.contact-section .star-icon::before{
    content: '';
    background-color: var(--main-bg-color);
    width: 5rem;
    height: .25rem;
    position: absolute;
    top: 50%;
    right: 1.4375rem
}

@media screen and (max-width: 575px) {
   .contact-section h2{
    font-size: 1.5rem;
   }

}