
.navbar-expand-lg{
    background-color: var(--main-bg-color);
}
a.nav-link{
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding-inline: .625rem;
}
a.navbar-brand{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
a.nav-link:hover{
    color: #fff;
}
a.nav-link:focus{
    color: #fff;
    background-color: var(--secondary-bg-color);
}
a.navbar-brand:hover{
    color: #fff;
}
a.navbar-brand:focus{
    color: #fff;
}