
.navbar-expand-lg{
    background-color: var(--main-bg-color);
    transition: padding 0.3s ease;
}
.navbar.scrolled{
    padding: 0.5rem 0;
}
a.nav-link{
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding-inline: .625rem;
}
a.navbar-brand{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
a.nav-link:hover{
    color: #fff;
}
a.navbar-brand:hover{
    color: #fff;
}
a.navbar-brand:focus{
    color: #fff;
}

@media screen and (max-width: 575px) {
   a.navbar-brand{
    font-size: 1.5rem;
   }

}