footer {
    background-color: var(--main-bg-color);
    color: #fff;
    text-align: center;
}
.footer-icon{
    border: 1px solid #fff;
    height: 2.1875rem;
    width: 2.1875rem;
}
.footer-bottom{
    background-color: #1A252F;
    padding: .625rem;
}