.not-found-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.not-found-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-bg-color);
}

.not-found-content p {
    font-size: 1.2rem;
    color: var(--main-bg-color);
}
